<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>{{ page.title }} | jj @ github</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/site.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <script type="text/javascript" src="/javascripts/site.js"></script>
  </head>
  <body>
    <header>
      <h1>jj @ github</h1>
      <nav>
        <a href='/' title='jj @ github'>Home</a>
      </nav>
    </header>
    <aside>
      <div id="github-badge"></div>
      <script type="text/javascript" charset="utf-8">
        GITHUB_USERNAME="jjbuckley"; GITHUB_HEAD="h1";
      </script>
      <script src="http://drnic.github.com/github-badges/dist/github-badge-launcher.js" type="text/javascript"></script>
    </aside>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; 2011 JJ Buckley
      <a href='http://github.com/jjbuckley' class='ribbon'>Fork me on Github!</a>
      <a href="http://www.w3.org/html/logo/" class='badge'><img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" width="165" height="64" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics"></a>
    </footer>
  </body>
</html>
